In [ ]:
from functools import partial
import mysql.connector

connection = mysql.connector.connect(
    host='localhost',
    user='megadados',
    password='', #sua senha
    database='musica', #Nome database que quer acessar
)


def run_db_query(connection, query, args=None):
    with connection.cursor() as cursor:
        print('Executando query:')
        cursor.execute(query, args)
        for result in cursor:
            print(result)


db = partial(run_db_query, connection)

In [ ]:
#Visualizando as tabelas
db('SHOW TABLES')

In [ ]:
#Visualizando o schema
db('DESCRIBE musica')

## Pipeline do comando Select ##
```
SELECT [DISTINCT] coluna(s)
FROM tabela(s)
WHERE condi√ß√£o
GROUP BY grupo de uma coluna
HAVING condi√ß√£o (aplicada ap√≥s GROUP BY)
ORDER BY expressao (pode ser coluna, ASC OU DESC)
LIMIT n¬∫ max resultados
OFFSET onde quer come√ßar o limit
```  


A ordem de execu√ß√£o do comando `SELECT` √© aproximadamente como segue:

1. `FROM <source_tables>`: indica as tabelas que ser√£o usadas nesta query e, conceitualmente, combina estas tabelas atrav√©s de *produto cartesiano* em uma grande tabela. (Note o termo "*conceitualmente*" que usei: em termos de implementa√ß√£o da query este produto cartesiano raramente √© constru√≠do.)

2. `WHERE <filter_expression>`: filtra linhas.

3. `GROUP BY <grouping_expressions>`: agrupa conjuntos de linhas.

4. `SELECT <select_heading>`: escolha de colunas e de agregados.

5. `HAVING <filter_expression>`: outra filtragem, esta aplicada apenas **depois** da agrega√ß√£o. Pode usar resultados do processo de agrega√ß√£o. Obriga o uso de `GROUP BY`.

6. `DISTINCT`: Elimina linhas duplicadas.

7. `ORDER BY`: ordena as linhas do resultado.

8. `OFFSET <count>`: Pula linhas do resultado. Requer LIMIT.

9. `LIMIT <count>`: Mant√©m apenas um n√∫mero m√°ximo de linhas.

Esta sequencia tamb√©m serve como dica de como projetar uma query! 
- Comece identificando as tabelas que voc√™ deseja usar
- Monte o filtro de linhas, incluindo crit√©rios de `JOIN`
- Agrupe
- Selecione colunas e aplique fun√ß√µes de agrega√ß√£o, conforme necess√°rio
- Filtre com `HAVING`, agora que temos agrega√ß√£o
- O resto √© mais f√°cil, aplique conforme requerido

## Comando Create

In [ ]:
db('DROP TABLE IF EXISTS Usuario')
db('''CREATE TABLE Usuario(
    nome VARCHAR(45),
    usuario_id INT NOT NULL AUTO_INCREMENT,
    musica_favorita_id INT,
    PRIMARY KEY (usuario_id),
    CONSTRAINT fk_musica_favorita FOREIGN KEY (musica_favorita_id)
        REFERENCES musica (Codigo_musica)
  )''')

## Comando Insert

In [ ]:
db('''INSERT INTO Usuario (nome, musica_favorita_id) VALUES 
   ("Joao", 9 ),
   ("Carla", 1),
   ("Tiago", 19),
   ("Tomas", 19),
   ("Tatiana", 19),
   ("Temer", 19)
   ''')

In [ ]:
db('SELECT * FROM Usuario')

## Comando Update

In [ ]:
db('UPDATE Usuario SET musica_favorita_id = 5 WHERE nome LIKE "T%"')

In [ ]:
db('SELECT * FROM Usuario')

## Joins + Temporary Table
### Inner Join
#### Juntar tabelas se e somente se  os valores que quer comparar existirem em ambas
#### Exemplo: Tabela com nome da pessoa e nome da m√∫sica favorita
#### OBS: dropar a tabela quando terminar de usar

In [ ]:
db('''DROP TABLE IF EXISTS Usuario_FavSong''')
db('''CREATE TEMPORARY TABLE Usuario_FavSong SELECT nome, Nome_musica FROM Usuario 
    INNER JOIN musica ON Usuario.musica_favorita_id = musica.Codigo_Musica
    ''')

In [ ]:
db("SELECT * FROM Usuario_FavSong")

### Outer Left e Right Joins

In [ ]:
db('''DROP TABLE IF EXISTS musicas_nofav ''')
db('''CREATE TEMPORARY TABLE  musicas_nofav SELECT Nome_Musica FROM musica LEFT OUTER JOIN Usuario 
    ON Usuario.musica_favorita_id = musica.Codigo_Musica
    WHERE Usuario.usuario_id IS NULL
    ''')

In [ ]:
db("SELECT * FROM musicas_nofav LIMIT 2")

### GROUP BY

In [ ]:
### Selecionando dura√ß√£o total de trilhas por autor
db('''SELECT sum(Duracao), nome_autor FROM musica 
INNER JOIN musica_autor USING(codigo_musica) 
INNER JOIN autor USING(Codigo_autor) 
GROUP BY nome_autor LIMIT 5''')

In [ ]:
### Agrupa os nomes de usu√°rios se tiverem as mesmas m√∫sicas favoritas
db('''SELECT GROUP_CONCAT(nome SEPARATOR ", ") FROM Usuario GROUP BY musica_favorita_id 
''')

In [ ]:
db('''DROP TABLE IF EXISTS teste ''')

db('''CREATE TEMPORARY TABLE  teste SELECT 
    Codigo_autor, Nome_autor, COUNT( DISTINCT Codigo_cd) as cnt
    FROM autor
    INNER JOIN musica_autor USING(Codigo_autor)
    INNER JOIN musica USING(Codigo_Musica)
    INNER JOIN faixa USING(Codigo_Musica)
    INNER JOIN cd USING(Codigo_cd)
    GROUP BY Codigo_autor
    ORDER BY cnt
    DESC
''')

In [ ]:
db('''describe teste ''')

In [ ]:
db("SELECT * FROM TESTE")

## Modelo Relacional

![](ModeloRelacional.png)

## Operador LIKE

![](LikeOperator.png)

In [ ]:
db("SELECT * FROM CD")

In [ ]:
from functools import partial
import mysql.connector

connection = mysql.connector.connect(
    host='localhost',
    user='megadados',
    password='Nalacristina2003', #sua senha
    database='pandemia', #Nome database que quer acessar
)


def run_db_query(connection, query, args=None):
    with connection.cursor() as cursor:
        print('Executando query:')
        cursor.execute(query, args)
        for result in cursor:
            print(result)


db = partial(run_db_query, connection)

In [ ]:
db("SHOW TABLES FROM pandemia")

In [ ]:
db("SELECT * FROM vacina")

In [ ]:
db('''SELECT DISTINCT marca FROM vacina 
    INNER JOIN dose USING(id_vacina) 
    INNER JOIN pessoa USING(id_pessoa)
    INNER JOIN pessoasintoma USING(id_pessoa)
    INNER JOIN sintoma USING(id_sintoma)
    WHERE (pessoasintoma.data_ocorrencia - dose.data_aplicacao) <= 5
    ''')

In [ ]:
db('''SELECT id_pessoa, nome, vacina.doses, COUNT(id_pessoa)  as cnt
    FROM pessoa 
    LEFT OUTER JOIN dose USING(id_pessoa)
    INNER JOIN vacina USING(id_vacina)
    GROUP BY id_pessoa
    HAVING(cnt < vacina.doses)
    ''')

db('''
DROP VIEW IF EXISTS marca_pessoas;
''')
db('''
CREATE VIEW marca_pessoas AS
    SELECT marca , COUNT(DISTINCT id_pessoa) FROM vacina
    INNER JOIN dose USING(id_vacina)
    INNER JOIN pessoa USING(id_pessoa)
    GROUP BY id_vacina
    ''')

In [ ]:
db("SELECT * FROM marca_pessoas")

In [ ]:
connection.close()

## Depend√™ncias funcionais

### ùëã ‚Üí ùëå ‚áî duas linhas da tabela que concordam em ùëã dever√£o concordar em ùëå


## Chaves

### Superchave: um conjunto de atributos ùêæ √© uma superchave da rela√ß√£o se ùêæ + √© o conjunto completo de atributos desta rela√ß√£o

### Chave candidata: uma superchave irredut√≠vel, ou seja, nenhum atributo pode ser removido da superchave sem que seu status de superchave seja cancelado

### Chave prim√°ria: a chave candidata escolhida como identificador da rela√ß√£o

## Formas normais

### Ver slides aula 14/15/16

## Modelo entidade-relacionamento

### Ver slides aula 16

## Transaction

In [ ]:
##Transaction garante que ou todas as querys de um bloco sejam realziadas ou que nenhuma delas seja
##Exemplo:

try:
    db('START TRANSACTION')
    db('INSERT INTO emprestimo (id_credor, id_devedor) VALUES (1, 2)')
    db('INSERT INTO emprestimo (id_credor, id_devedor) VALUES (1, 1000)')
    db('COMMIT')
except Exception as e:
    print(e)
    db('ROLLBACK')

## ACID

### Atomicidade: garantir que um conjunto de comandos √© executado ou rejeitado como uma √∫nica unidade.

### Consist√™ncia: indica que o banco de dados passa de um estado v√°lido para outro estado v√°lido a cada transa√ß√£o.

### Isolamento: capacidade de executar v√°rias transa√ß√µes concorrentes sem que uma transa√ß√£o interfira diretamente na outra, ou seja, o usu√°rio tem a percep√ß√£o de que as transa√ß√µes foram executadas sequencialmente (ler slides aula 19).

### Durabilidade: quando uma transa√ß√£o √© confirmada (COMMIT), ela permanecer√° gravada mesmo que a energia acabe ou o sistema trave.

## Stored procedures, triggers, views, functions
#### (Ver notebook aula 20)

##  Programa√ß√£o funcional

### Programa√ß√£o funcional descreve o que queremos  calcular sem especificar como iterar sobre  os dados ( facilmente paraleliz√°vel).

### Programa√ß√£o funcional usa fun√ß√µes puras -> Robustez: se um bloco de c√°lculo falha (a m√°quina cai), podemos reiniciar o c√°lculo daquele bloco apenas, sem problemas.

### Aus√™ncia de estado global -> Facilita uso de mem√≥ria distribu√≠da.